bin/
gen/
out/

.gradle/
app/build/
build/

/buildSrc/build/
buildSrc/*/build/

/out/

*.iml
.idea/
.idea/caches/

*.DS_Store

Thumbs.db

local.properties

*.apk
*.ap_

*.dex

*.class

/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
